@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset / system rules only */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
}
